# Salin file ini menjadi .env untuk development lokal
# Di GCP Cloud Run, variabel ini diset via Secret Manager atau ENV di console

PORT=8080

# PostgreSQL (Cloud SQL di GCP)
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASS=ganti_password_ini
DB_NAME=banksampah

# JWT — ganti dengan string acak yang panjang & aman
# Bisa generate dengan: openssl rand -hex 32
JWT_SECRET=ganti_dengan_string_rahasia_yang_panjang
